  @media only screen and (max-width: 960px) {
    .HomeMain {
      .banner {
        .tip {
          &>div {
            &:nth-of-type(1) {
              font-size: 16px;
            }

            &:nth-of-type(2) {
              font-size: 12px;
            }
          }
        }
      }

      .content {
        width: 100%;

        .book {
          width: 32%;
          img{
            width: 40%;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 960px) {
    .HomeMain {
      .content {
        .books {
          .book {
            width: 227px;
            img{
              width: 30%;
            }
            
          }
        }
      }

      .banner {
        .tip {
          &>div {
            &:nth-of-type(1) {
              font-size: 22px;
            }

            &:nth-of-type(2) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .HomeMain {
    .tips {
      display: flex;
      align-items: center;
      background-color: rgb(145, 150, 223);
      padding: 4px;
      color: white;

      img {
        width: 30px;
      }
    }

    .apps {
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      border: rgb(145, 150, 223) solid 1px;
      box-sizing: content-box;
      padding: 8px 4px;
      background-color: rgb(174, 177, 222);

      .app {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 6px;
      }
    }

    .banner {
      position: relative;
      align-items: center;

      img {
        max-height: 400px;
        min-height: 136px;
        width: 100%;
        object-fit: cover;
      }

      .tip {
        position: absolute;
        top: 26%;
        left: 6%;
        color: white;
        text-shadow: 2px 2px 5px black;

        &>div {
          &:nth-of-type(1) {
            font-weight: 700;
          }

          &:nth-of-type(2) {
            font-weight: normal;
          }
        }
      }
    }

    .content {
      max-width: 960px;
      margin: auto;
      height: 100%;

      .books {
        margin-top: 20px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 4px;

        @mixin demo($demo: 50) {
          opacity: $demo/100;
          filter: alpha(opacity=$demo);
        }

        .book {
          background-color: white;
          margin-bottom: 10px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          text-align: center;
          overflow: hidden;
          padding: 10px 4px;

          $pixelArr: '前端学习',
          '红宝书';



          .img {
            height: 80px;
            margin: auto;
            border-bottom: rgb(233, 233, 233) solid 1px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          @each $item in $pixelArr {
            &[type=#{$item}] {
              padding: 0 0 10px 0;

              .img {
                height: 90px;
                width: 100%;
                img{
                  object-fit: cover;
                  width: 100%;
                  height: 90px;
                }
                
              }
            }
          }



          .text {
            padding: 2px 10px;

            .title {}

            .desc {

              font-size: 12px;
              color: rgb(153, 153, 150);
            }
          }
        }
      }
    }


  }