@media only screen and (max-width: 640px) {
    .player {
        width: calc(50% - 20px);

        .txt {
            font-size: 12px;
        }
    }
}

@media only screen and (min-width: 640px) {
    .player {
        width: 200px;
    }
}

.MockBook {

    .removeMargin {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;

        .player {
            margin-left: 20px;
            margin-bottom: 16px;
            cursor: pointer;

            .video {
                background-color: rgb(244, 228, 228);
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;

                img {
                    width: 60px;
                }
            }

            .txt {
                .tipIcon {
                    display: inline-block;
                    font-size: 14px;
                    margin-right: 4px;
                }

                .title {}

                .desc {

                    font-size: 12px;
                    color: rgb(153, 153, 150);
                }
            }
        }
    }


}